Source: abe-metapackages
Maintainer: Axel Beckert <abe@deuxchevaux.org>
Section: metapackages
Priority: extra
Homepage: https://github.com/xtaran/abe-metapackages#readme
Vcs-Git: git://github.com/xtaran/abe-metapackages.git
Vcs-Browser: https://github.com/xtaran/abe-metapackages
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 7)

Package: abe-commandline
Depends: aptitude,
         autossh,
         bash-completion,
         bc,
         bsdmainutils,
         bzip2,
         ccal,
         ccze | loco,
         chase | realpath,
         colordiff,
         debsums,
         dnsutils,
         dwdiff | wdiff,
         file,
         finger,
         git,
         htop,
         iputils-ping | inetutils-ping,
         less,
         libwww-perl,
         links2 | links,
         lynx-cur | lynx,
         man-db,
         manpages,
         mmv,
         moreutils,
         mosh,
         mtr-tiny,
         mutt,
         ncdu,
         ncurses-term,
         netcat-traditional | netcat6 | netcat-openbsd | netcat,
         ntpdate,
         patch,
         perl-doc,
         popularity-contest,
         procps,
         renameutils,
         reportbug,
         rlfe | rlwrap | cle,
         rsync,
         screen,
         since,
         sipcalc | ipcalc | netmask,
         slay,
         ssh,
         swaks,
         telnet-ssl,
         time,
         traceroute | inetutils-traceroute | paris-traceroute,
         tree,
         unp | mtools | atool | dtrx,
         wget,
         xauth,
         xz-utils | xz-lzma | lzma,
         zile,
         zsh,
         ${misc:Depends}
Recommends: abe-fun,
            apt-show-versions,
            atool | tardiff,
            bar | cpipe | pipemeter,
            buthead,
            clive | cclive | youtube-dl | get-flash-videos,
            convmv,
            curses-apt-key,
            debian-goodies,
            dlocate,
            dwdiff,
            fail2ban | busybox-syslogd,
            fping,
            ftp-ssl,
            git-annex,
            gopher,
            grepcidr,
            grepmail | mboxgrep,
            hardlink | duff | fdupes | rdfind,
            inotail,
            lsof | psmisc,
            makepasswd | pwgen | gpw | apg,
            mp3info | eyed3,
            mtools,
            ncftp,
            nmap,
            ntp,
            nvi,
            pmount,
            pmtools,
            prips,
            pxz | pixz,
            rotix,
            schedutils,
            scrot,
            sshfs,
            strace | ktrace,
            sux,
            tsocks,
            unp,
            unzip,
            uptimed,
            whois,
            zutils
Suggests: 2ping,
          abe-archive-tools,
          abe-commandline-media,
          abe-emacs,
          aha,
          apt-file,
          aptitude-doc-en,
          arping | iputils-arping,
          bar,
          buffer | bfr,
          cadaver,
          cclive,
          chase,
          chiark-scripts | polygen,
          clive,
          cpipe,
          cpulimit,
          dc,
          dctrl-tools | grep-dctrl,
          debconf-utils,
          deborphan,
          detox,
          devscripts,
          dfc | discus | di,
          dhex,
          dtrx,
          duff,
          eatmydata,
          ethtool,
          fdupes,
          get-flash-videos,
          gpw,
          grepmail,
          hardlink,
          hnb,
          httping,
          ioping,
          ipcalc,
          iptraf | trafshow,
          iputils-tracepath,
          ipv6calc,
          irssi,
          irssi-scripts,
          lrzip,
          lslk,
          lsof,
          ltrace,
          lzip,
          lzop,
          makepasswd,
          manpages-de,
          mboxgrep,
          mc,
          members,
          mrename,
          multitail,
          multitee,
          ncdt,
          nethogs,
          netmask,
          note,
          openvpn,
          opus-tools,
          p0f,
          p7zip | p7zip-full,
          pbzip2,
          pcregrep,
          pflogsumm,
          pigz,
          pipemeter,
          pixz,
          plzip,
          psmisc,
          pssh,
          pwgen,
          pxz,
          rar,
          realpath,
          recode,
          rlfe,
          rlwrap,
          rpl,
          rsstail,
          rsyncrypto,
          rzip,
          signing-party,
          similarity-tester,
          sipcalc,
          slice,
          sslscan,
          strigi-utils,
          symlinks,
          tar-doc,
          tardiff,
          tardy,
          tcpdump | tshark,
          tofrodos | dos2unix,
          translate,
          unaccent,
          units,
          unrar | unrar-nonfree,
          wikipedia2text,
          xml-twig-tools,
          xmldiff,
          youtube-dl
Architecture: all
Description: Metapackage of commandline tools Axel usually installs
 This metapackage depends on packages Axel's usually installs in all
 his setups.

Package: abe-archive-tools
Depends: unrar | unrar-nonfree,
         zip,
         ${misc:Depends}
Recommends: cabextract,
            dtrx,
            extract,
            jlha-utils | lhasa | lha,
            unshield
Suggests: arc,
          arj,
          jlha-utils,
          lhasa,
          unace | unace-nonfree,
          unalz,
          zoo
Architecture: all
Description: Packages needed to read exotic archive formats
 This metapackage depends on packages which can handle exotic archive
 file formats.

Package: abe-commandline-media
Depends: abe-commandline,
         mplayer | mplayer2 | gst123,
         ${misc:Depends}
Recommends: moc | mp3blaster | opencubicplayer | orpheus,
            music123,
            vorbis-tools
Suggests: abcde,
          gst123,
          moc,
          mp3blaster,
          mpg123 | mpg321,
          mplayer | mplayer2,
          opencubicplayer,
          orpheus,
          xmp
Architecture: all
Description: Metapackage for computers where Axel can play music
 This metapackage depends on packages Axel's usually wants where he
 can listen to music.

Package: abe-console
Depends: console-setup,
         console-tools | kbd-compat | kbd | console-utilities | kbdcontrol,
         gpm | vidcontrol,
         ${misc:Depends}
Recommends: abe-commandline,
            linuxlogo
Suggests: abe-commandline-media,
          abe-partitioning
Architecture: all
Description: Metapackage for computers where Axel works on the console
 This metapackage depends on packages Axel's usually needs where he
 also works on the console and not only remote or under X.

Package: abe-emacs
Depends: crypt++el,
         debian-el,
         develock-el,
         emacs | emacsen,
         emacs-goodies-el,
         html-helper-mode,
         mmm-mode,
         zile,
         ${misc:Depends}
Recommends: devscripts-el,
            dpkg-dev-el,
            js2-mode,
            magit
Suggests: abe-tex,
          oneliner-el,
          post-el,
          python-mode,
          quilt-el,
          twittering-mode,
          x-face-el,
          yaml-mode
Architecture: all
Description: Common Emacs installation on Axel's systems
 This metapackage depends on packages Axel's usually installs where he
 wants Emacs to be usable.

Package: abe-gnome
Depends: baobab,
         gucharmap,
         mssh,
         ${misc:Depends}
Recommends: cinnamon,
            gobby | gobby-0.4 | gobby-0.5,
            gpointing-device-settings,
            gui-apt-key,
            meld
Suggests: abe-office,
          gparted,
          liferea,
          ssh-contact-client
Architecture: all
Description: Common GNOME applications on Axel's desktops
 This metapackage depends on packages Axel's oftens installs when
 having GNOME libraries installed is not an issue.

Package: abe-laptop
Depends: abe-commandline,
         abe-console,
         abe-desktop-ratpoison | abe-desktop-awesome,
         busybox-syslogd | system-log-daemon,
         debdelta,
         hardlink,
         isc-dhcp-client | udhcpc | dhcp-client,
         miredo | auto6to4 | aiccu,
         mobile-broadband-provider-info,
         pm-utils,
         postfix | mail-transport-agent,
         ppp,
         sshfs,
         sshuttle,
         usb-modeswitch,
         wicd-curses | wicd-client | network-manager,
         x11-xserver-utils,
         ${misc:Depends}
Recommends: abe-commandline-media,
            abe-desktop,
            abe-partitioning,
            acpitail,
            amora-cli | amora-applet,
            anacron,
            arandr | lxrandr,
            confclerk,
            fdpowermon,
            key-mon | screenkey,
            localepurge,
            mplayer | mplayer2,
            mssh,
            mupdf,
            pkg-mozilla-archive-keyring,
            postfix,
            powertop,
            s5,
            synergy,
            tmpreaper,
            translate,
            unburden-home-dir,
            wide-dhcpv6-client | dibbler-client,
            wireshark,
            xserver-xorg-input-synaptics,
            xul-ext-https-everywhere
Suggests: abe-laptop-ubuntu,
          abe-small-disk,
          arandr,
          auto6to4,
          avahi-autoipd,
          avahi-discover,
          dibbler-client,
          dnsmasq-base,
          gpointing-device-settings,
          iodine,
          iptables,
          key-mon,
          kismet,
          lxrandr,
          miredo,
          mumble,
          openvpn | vpnc,
          quicksynergy,
          screenkey,
          tor,
          torsocks,
          tpb,
          wide-dhcpv6-client,
          wifite,
          wvdial
Conflicts: apmd (>= 0)
Architecture: all
Description: Metapackage for Axel's laptops and netbooks
 This metapackage depends on packages Axel's usually needs on his
 mobile devices.

Package: abe-laptop-ubuntu
Depends: busybox-syslogd | system-log-daemon,
         debconf (>= 1.5.39) | debconf-english,
         ${misc:Depends}
Provides: apmd,
          debconf-i18n,
          rsyslog,
          vim-tiny
Architecture: all
Description: Metapackage to fulfill some hard dependencies of ubuntu-minimal
 This metapackage provides a few packages needed by ubuntu-minimal and
 other Ubuntu metapackages to allow installation of alternatives for
 the same functionality or to rip out useless stuff like apmd.
 .
 It also conflicts with packages, Axel doesn't want to see on any of
 his laptops.

Package: abe-monitoring
Depends: debsums,
         hobbit-plugins,
         xymon-client | hobbit-client,
         ${misc:Depends}
Recommends: lsof
Suggests: sudo
Architecture: all
Description: Metapackage for computers Axel's wants to be monitored
 This metapackage depends on packages Axel's usually needs on his
 those computers he wants to have monitored.

Package: abe-office
Depends: catdoc | antiword | wv,
         libpaper-utils,
         libreoffice-calc    | openoffice.org-calc | gnumeric,
         libreoffice-impress | openoffice.org-impress,
         libreoffice-writer  | openoffice.org-writer,
         ${misc:Depends}
Recommends: abe-tablet,
            abe-tex,
            dia-gnome | dia | xfig,
            gnumeric,
            libreoffice-gnome | libreoffice-gtk | openoffice.org-gnome | openoffice.org-gtk | libreoffice-gtk3,
            libreoffice-math                    | openoffice.org-math,
            libreoffice-writer2xhtml
Suggests: antiword,
          asciidoc,
          catdoc,
          dia-gnome | dia,
          gimp,
          inkscape | scribus,
          libreoffice                        | openoffice.org,
          libreoffice-calc                   | openoffice.org-calc,
          libreoffice-pdfimport              | openoffice.org-pdfimport,
          libreoffice-presentation-minimizer | openoffice.org-presentation-minimizer,
          libreoffice-presenter-console      | openoffice.org-presenter-console,
          markdown | discount | pandoc | ruby-maruku | ruby-redcarpet | ruby-kramdown | ruby-bluecloth | libtext-markdown-perl | libtext-multimarkdown-perl | python-markdown | multimarkdown,
          mdpress | python-landslide,
          wv,
          xfig,
          xlhtml
Architecture: all
Description: Common office applications on Axel's desktops
 This metapackage depends on packages Axel's usually needs when he
 want's basic office functionality.

Package: abe-tex
Depends: abe-emacs,
         auctex | yatex,
         texlive,
         ${misc:Depends}
Recommends: auctex,
            latex-beamer,
            whizzytex
Suggests: abe-office,
          asciidoc,
          latex-xcolor,
          latex2html | tex4ht,
          latexdiff,
          libreoffice-writer2latex,
          writer2latex,
          yatex
Architecture: all
Description: Common packages Axel wants for a TeX installation
 This metapackage depends on packages Axel's prefers on computers
 where he wants to TeX.

Package: abe-partitioning
Depends: ${misc:Depends}
Recommends: btrfs-tools,
            extundelete,
            gddrescue | myrescue | dc3dd | dcfldd | safecopy | ddrescue,
            gdisk,
            gnu-fdisk,
            kpartx,
            parted,
            smartmontools,
            testdisk,
            xfsdump
Suggests: dc3dd,
          dcfldd,
          dosfstools,
          exfat-fuse,
          exfat-utils,
          fatsort,
          foremost,
          gddrescue,
          gpart,
          gparted,
          gphoto2,
          gptsync,
          grub-imageboot | grml-rescueboot,
          mtools,
          myrescue,
          reiser4progs,
          reiserfsprogs,
          safecopy,
          smart-notifier
Architecture: all
Description: Metapackage for real computers where Axel may access USB devices
 This metapackage depends on packages Axel's usually needs to
 partition USB sticks or USB disk, i.e. nearly all his real and local
 computers.

Package: abe-small-disk
Depends: debconf (>= 1.5.39) | debconf-english,
         hardlink,
         localepurge,
         ${misc:Depends}
Recommends: busybox-syslogd,
            ncdu | baobab | filelight | xdiskusage | xdu,
            unburden-home-dir
Suggests: abe-laptop-ubuntu,
          autotrash,
          baobab,
          bleachbit,
          filelight,
          fslint,
          ncdu,
          tmpreaper,
          xdiskusage,
          xdu
Conflicts: debconf-i18n (>= 0),
           xfonts-100dpi-transcoded,
           xfonts-75dpi-transcoded
Replaces: abe-laptop-small-disk
Breaks: abe-laptop-small-disk
Architecture: all
Description: Keeps some disk-wasting packages off the disk
 This metapackage conflicts with packages Axel considers a waste of
 disk space if disk is sacre. It also pulls in packages which help to
 find waste of disk-space.

Package: abe-window-managers
Depends: awesome,
         flwm,
         i3-wm,
         ratpoison,
         ${misc:Depends}
Recommends: cinnamon,
            fvwm,
            lxde | lxde-core | lxsession,
            notion | tritium,
            razorqt,
            stumpwm | clfswm,
            xfce4
Suggests: abe-gnome,
          clfswm,
          herbstluftwm,
          notion,
          spectrwm | scrotwm,
          stumpwm,
          subtle,
          tritium,
          twm,
          windowlab,
          wm2,
          wmfs,
          xmonad | libghc-xmonad-dev
Enhances: abe-desktop
Architecture: all
Description: Metapackage depending on a bunch of window managers
 This metapackage depends window managers and desktop environments,
 Axel wants to have on those computers where occassionally other
 people log in, too.

Package: abe-joystick
Depends: inputattach,
         joystick,
         ${misc:Depends}
Recommends: jstest-gtk
Suggests: joy2key,
          xserver-xorg-input-joystick
Enhances: abe-desktop
Architecture: all
Description: Metapackage for computers with attached joysticks
 This metapackage depends on, recommends and suggests packages which
 help to make joysticks working.

Package: abe-tablet
Depends: xserver-xorg-input-wacom | xserver-xorg-input-tslib,
         ${misc:Depends}
Recommends: gromit,
            mypaint
Suggests: jscribble,
          mypaint-data-extras,
          rgbpaint,
          xserver-xorg-input-tslib,
          xserver-xorg-input-wacom
Enhances: abe-desktop,
          abe-office
Architecture: all
Description: Metapackage for computers with touchscreen or attached graphics tablet
 This metapackage depends on packages necessary to get
 a Wacom graphics tablet or a touchscreen working.

Package: abe-games
Depends: abe-fun,
         ${misc:Depends}
Recommends: abe-joystick,
            ace-of-penguins | xpat2 | xsol,
            beneath-a-steel-sky,
            briquolo,
            ctris | ltris | bsdgames,
            cuyo | flobopuyo,
            egoboo | flare | powder,
            extremetuxracer | supertuxkart,
            fillets-ng,
            flightgear,
            foobillard | billard-gl,
            freedoom | freedm | doom-wad-shareware,
            frotz | jzip | xzip,
            frozen-bubble,
            gnubg,
            gnubik | pybik,
            icebreaker,
            lbreakout2,
            lincity-ng | lincity | micropolis | opencity,
            nethack-console | nethack-x11 | slashem | glhack | crawl,
            neverball,
            neverputt,
            nexuiz,
            numptyphysics,
            open-invaders | ninvaders,
            openttd | simutrans,
            pacman,
            pinball,
            pingus,
            pong2,
            prboom | chocolate-doom | vavoom,
            sauerbraten,
            scummvm,
            tf | tintin++,
            tictactoe-ng,
            torcs,
            tuxpuck,
            wesnoth | wesnoth-core,
            xbill,
            xbomb | xdemineur | freesweep,
            xfrisk,
            xmahjongg,
            xsnow,
            xteddy,
            xtux,
            xvier
Suggests: ace-of-penguins,
          billard-gl,
          bsdgames,
          chocolate-doom,
          crawl,
          ctris,
          deutex,
          egoboo,
          flare,
          foobillard,
          freedm,
          freedoom,
          frotz,
          glhack,
          gnubik,
          hearse,
          jzip,
          lincity,
          lincity-ng,
          ltris,
          micropolis,
          nethack-console,
          nethack-spoilers,
          nethack-x11,
          ninvaders,
          open-invaders,
          opencity,
          openssn,
          openttd,
          openttd-opensfx,
          powder,
          prboom,
          pybik,
          simutrans,
          simutrans-pak128.britain,
          slashem,
          typespeed,
          vavoom,
          xpat2,
          xsol,
          xzip
Enhances: abe-desktop,
          abe-laptop
Architecture: all
Description: Metapackage depending on Axel's collection of favourite games
 This metapackage depends on games Axel likes and may want to have
 installed -- small and big ones, TUI and GUI ones, etc.

Package: abe-fun
Depends: asr-manpages,
         caca-utils,
         fortunes,
         fortunes-bofh-excuses,
         fortunes-de,
         fortunes-off,
         funny-manpages,
         sdate,
         sl,
         toilet | figlet,
         ${misc:Depends}
Recommends: abe-games,
            bb,
            bsdgames,
            cowsay,
            figlet,
            geekcode,
            oneko,
            rolldice,
            sm,
            toilet
Suggests: beef,
          filters
Enhances: abe-commandline,
          abe-desktop,
          abe-games,
          abe-laptop
Provides: kiva-fun
Architecture: all
Description: Metapackage depending on a bunch of fun
 This metapackage depends on packages which Axel usually installs just
 for fun.
 .
 Successor of the kiva-fun package Axel maintained for the cluster of
 virtual machines on the LUGS server kiva.

Package: kiva-base
Depends: abe-commandline,
         aptitude-robot | cron-apt,
         dphys-config | cdist,
         iptables,
         nagios-plugins-basic,
         ntp,
         postfix,
         postfix-pcre,
         tcpd,
         xosview,
         ${misc:Depends}
Recommends: tmpreaper
Suggests: kiva-users
Conflicts: denyhosts,
           tasksel
Architecture: all
Description: Solid base for the LUGS Kiva Xen Cluster
 Metapackage depending on everything needed on all Kiva nodes.

Package: kiva-users
Depends: abe-archive-tools,
         abe-commandline,
         abe-emacs,
         abe-fun,
         ash,
         boxes,
         bzr,
         catdoc,
         csh,
         curl,
         cvs,
         darcs,
         ed,
         elinks,
         gopher,
         html-helper-mode,
         ircii,
         joe,
         kiva-base,
         ksh,
         locales,
         manpages-de,
         mc,
         mcabber | cabber,
         members,
         mercurial,
         mksh,
         most,
         nano,
         newsbeuter,
         nvi,
         pdmenu,
         recode,
         renattach,
         rotix,
         signing-party,
         slrn,
         snarf,
         subversion,
         surfraw,
         tcsh,
         tin,
         tla,
         unison,
         units,
         vacation,
         vim-nox | vim | vim-full,
         vrfy,
         w3m,
         weechat,
         ${misc:Depends}
Recommends: alpine,
            bash-doc,
            bzr-doc,
            cone,
            fullquottel | t-prot,
            hnb,
            imagemagick | graphicsmagick,
            info,
            jhead | jpeginfo,
            jpegoptim,
            localepurge,
            mboxcheck,
            notmuch,
            ospics,
            pngmeta,
            procmail,
            rawdog,
            renrot,
            trimage | optipng | pngcrush | pngnq | pngquant,
            wcd,
            whichman,
            wiggle,
            wml,
            xpm2wico
Suggests: ikiwiki,
          iwatch,
          jargon-text,
          nd,
          sirc,
          trickle
Architecture: all
Description: Packages needed for hosts with users in the LUGS Kiva Xen Cluster
 Everything needed on all Kiva nodes with normal users being able to
 login.

Package: abe-packaging-dev
Depends: abe-commandline,
         abe-emacs,
         autotools-dev,
         build-essential,
         debhelper,
         debian-el,
         debian-policy,
         developers-reference,
         devscripts,
         devscripts-el,
         dh-autoreconf,
         dh-make,
         dh-make-perl,
         dput,
         fakeroot,
         git-buildpackage,
         lintian,
         patch,
         quilt,
         ${misc:Depends}
Recommends: blhc,
            debian-keyring | ubuntu-keyring,
            dh-exec,
            dpatch,
            equivs,
            hardening-includes,
            manpages-de-dev,
            manpages-dev,
            mozilla-devscripts,
            packaging-dev,
            patchutils,
            perltidy
Suggests: apt-doc,
          apt-dpkg-ref,
          cdbs,
          cmake,
          colorgcc,
          colormake,
          debian-reference-de | debian-reference-en,
          debootstrap | cdebootstrap,
          dh-buildinfo,
          dh-linktree,
          gem2deb,
          python-stdeb,
          qt4-qmake,
          svn-buildpackage,
          ubuntu-dev-tools,
          ubuntu-packaging-guide | ubuntu-packaging-guide-html | ubuntu-packaging-guide-epub | ubuntu-packaging-guide-pdf
Provides: kiva-dev
Architecture: all
Description: Packages for building Debian packages
 Metapackage depending on packages Axel wants to have installed on
 those boxes where he builds Debian packages.
